# Python Source Code (Not used for display)
*.py
venv/
__pycache__/
*.pyc

# Raw Inputs and Workspaces
songs/
separated/
*_Manual/

# Intermediate Artifacts
**/segmented_parts/
**/temp/

# System Files
.DS_Store
Thumbs.db
desktop.ini

# IDES
.vscode/
.idea/

# Logs
*.log
